//- extends ../../layouts/default.pug
//- block main 
//-     div.home
//-         .inner-content.no-select
//-             h1 Danh sách bài đã luyện tập

//-         .inner-box.no-select
//-             .row(gutter="[30, 20]")
//-             each item in dataAnswers
//-                 .col(xxl="6", xl="6", lg="12", md="12", sm="24", xs="24", key=item._id )
//-                 a(href=`/result/${item._id }`) #{item.slug}

extends ../../layouts/default.pug
include ../../mixins/moment.pug
block main
    .container 
        .home
            .inner-content.no-select
                h1 Danh sách bài đã luyện tập

            .inner-box.no-select
                table.table
                    thead
                        tr
                            th Tiêu đề bài
                            th Người làm
                            th Ngày làm
                            th Chi tiết
                    tbody
                        each item in dataAnswers
                            tr
                                td #{item.title}
                                td #{item.accountFullname}
                                td 
                                    +formatDateTime(item.createdBy.createAt)
                                td
                                    a(href=`/result/${item._id}`) Xem kết quả   



