extends ../../layouts/default.pug

block main
    if(role.permissions.includes("manage-questions_view"))
        div(class="questions-container")  
            div(class="title") Quản lý câu hỏi
            div(class="form-container")
                form(action=`${prefixAdmin}/manage-questions/addQuestion?_method=POST`
                            id="form-add-question" 
                            method="POST"
                        )
                    div(class="form-group")
                        if(record)
                        select(name="type" class="form-control dropdown" required)
                            each item in products
                                option(value=item.slug) #{item.title}
                    if(role.permissions.includes("manage-questions_create"))
                        div(class="form-group")
                            button(type="button", id="add-question-btn", class="btn btn-success") + Thêm câu hỏi
                        div(id="questions-wrapper") <!-- Wrapper cho các câu hỏi và câu trả lời sẽ được tạo động -->
                        button(type="submit", class="btn btn-primary mt-3 button-submit") Lưu câu hỏi

        script(src="/admin/js/manage-questions.js")
