extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/product-layout.pug
block main 
    .container.my-3
        .row
            .col-12
                +box-head(pageTitle)
        .row
            .col-6
                a(class="mb-5 btn btn-info btn-lg w-100" href="#" role="button") Đang chờ phê duyệt (#{totalInactive})
            .col-6
                a(class="mb-5 btn btn-success btn-lg w-100" href="/answers" role="button") Danh sách bài đã luyện tập
            
        .row
            each order in orders
                if(order.status == "active")
                    each item in order.products
                        .col-4.mb-3 
                            .product-item
                                .inner-image
                                    img(src=item.productInfo.thumbnail, alt=item.productInfo.title)
                                .inner-content
                                    h3.inner-title 
                                        a(href=`/quiz/${item.productInfo.slug}`) #{item.productInfo.title}
        

